{
    "extends": "airbnb",
    "rules": {
        "no-console": 0,
        "no-debugger": 'warn',
        "no-restricted-syntax": ["error", "FunctionExpression", "WithStatement"]
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "globals": {
        "$": true
    },
}
