/* ==========================================================================
   Global
   ========================================================================== */
ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	transition: color 0.5s ease;
	outline: 0;
}
.wrapper {
  margin: 50px auto;
  max-width: 600px;
  padding: 40px;
}

.loader{
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 1em;
  margin: 20px auto;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.loader.show {
	opacity: 1;
}
/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}
