/* ==========================================================================
   Global
   ========================================================================== */
ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	transition: color 0.5s ease;
	outline: 0;
}
.wrapper {
  margin: 50px auto;
  max-width: 600px;
  padding: 40px;
}
